<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.silbaram.dao.BookDAO">
    <insert id="insertBook">
        INSERT INTO `book` (`name`, `writer`, `publisher`, `price`, `synopsis`, `pages`, `isbnNum`,
                            `category`, `fileSize`, `language`, `voiceLength`, `bookUrl`)
        VALUES (#{name}, #{writer}, #{publisher}, #{price}, #{synopsis}, #{pages}, #{isbnNum},
                #{category}, #{fileSize}, #{language}, #{voiceLength}, #{bookUrl})
    </insert>

    <select id="getBookList" resultType="com.project.silbaram.vo.BookVO">
        SELECT * FROM `book`
    </select>

    <select id="getCount" resultType="int">
        select count(bkid) from `book`
<!--        <include refid="search"></include>-->
    </select>

    <select id="selectById" parameterType="int" resultType="com.project.silbaram.vo.BookVO">
        select * from `book` where bkid = #{id}
    </select>

    <update id="updateBook" parameterType="com.project.silbaram.vo.BookVO">
        UPDATE `book` SET `name`=#{name}, `writer`=#{writer}, `publisher`=#{publisher},
                          `price`=#{price}, `synopsis`=#{synopsis}, `pages`=#{pages},
                          `isbnNum`=#{isbnNum}, `category`=#{category},
                          `fileSize`=#{fileSize}, `language`=#{language},
                          `voiceLength`=#{voiceLength}, `bookUrl`=#{bookUrl}
        WHERE `bkid`=#{bkid}
    </update>

    <delete id="deleteBookById" parameterType="long">
        DELETE FROM book WHERE bkid = #{bkid}
    </delete>

    <select id="getBookById" resultType="com.project.silbaram.vo.BookVO">
        SELECT *
        FROM book
        WHERE bkid = #{bkid}
    </select>
</mapper>